<!-- Company details page -->

<h1><%= @place["name"] %></h1>

<h3>Entries</h3>

<ul>
  <% for entry in @entries %>
    <li>
      <a href="/entry/<%= entry["id"] %>">
        <%= entry["last_name"] %>, <%= contact["first_name"] %>
      </a>
    </li>
  <% end %>
</ul>


<!-- Link back to all places -->
<p><a href="/places">Back to All Places</a></p>
